
<form action="/test" method="POST">

  <div class="navbar-header">
    <nav class="navbar navbar-inverse">
      <div class="home" id="myNavbar">
        <img src="images/adventure.jpg" >
        <h1 class="pro"> Nook</h1>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href=""><span class="glyphicon glyphicon-user"></span> </a></li>
        <li><a href=""><span class="glyphicon glyphicon-log-in"></span></a></li>
      </ul>
  </div>
  </nav>
  
  <div class="userrow">
  <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" style="font-style: italic;"><b>Name</b></span>
  </div>
  <input type="text" aria-label="First name" class="form-control">
 
</div>
  </div>

  <h4 class="pro">Select a province</h4>
  <div class="wc">
    
  <button type="submit" name="prov" value="west" class=" btn-primary btn-lg " style="font-style: italic;"> Western Cape</button>
</form>
</div>
<div class="mpu">
<form action="/test1 " method="POST">
  <button type="submit" name="prov" value="mpu" class=" btn-primary btn-lg " style="font-style: italic;">Mpumalanga</button>
</form>
</div>
<div class="lim">
<form action="/test2 " method="POST">
  <button type="submit" name="prov" value="lim" class="btn-primary btn-lg " style="font-style: italic;">Limpopo</button>
</form>
</div>