<form action="/test" method="POST">

  <div class="navbar-header">
    <nav class="navbar navbar-inverse">
      <div class="home" id="myNavbar">
        <img src="../images/Adventure.jpg">
        <h1 class="pro"> Nook</h1>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href=""><span class="glyphicon glyphicon-user"></span> </a></li>
        <li><a href=""><span class="glyphicon glyphicon-log-in"></span></a></li>
      </ul>
  </div>
  </nav>

  <h4 class="pro">Select a province</h4>
  <div class="wc">

    <button type="submit" name="prov" value="western cape" class="btn btn-primary btn-lg btn-block" style="font-style: italic;">
      Western Cape</button>
</form>
</div>
<div class="mpu">
  <form action="/test1 " method="POST">
    <button type="submit" name="prov" value="mpumalanga" class="btn btn-secondary btn-lg btn-block "
      style="font-style: italic;">Mpumalanga</button>
  </form>
</div>
<div class="lim">
  <form action="/test2 " method="POST">
    <button type="submit" name="prov" value="limpopo" class="btn btn-primary btn-lg btn-block"
      style="font-style: italic;">Limpopo</button>
  </form>
</div>

