<form action="/mp" method="POST">

  <div class="navbar-header">
    <nav class="navbar navbar-inverse">
      <div class="home" id="myNavbar">
        <img src="/images\Adventure.jpg">
        <h1 class="pro"> Nook</h1>
      </div>
      <div class="test" style="font-style: italic">
        <h2>Mpumalanga</h2>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/li"><span  class="glyphicon glyphicon-user" style="font-style: italic">Limpopo </a></span></li>
        <li><a href="/wc"><span class="glyphicon glyphicon-log-in" style="font-style: italic">Western Cape</a></span>
        </li>
        <li><a href="/"><span class="glyphicon glyphicon-log-in" style="font-style: italic">Home</a></span></li>
      </ul>
  </div>
  </nav>

  <h3 style="font-style: italic;">Accommodation type</h3>

</form>
<form action="/mpcamping" method="POST">
  <div class="camp">

    <button type="submit" name="acc" value="camping" class="btn btn-primary btn-lg btn-block" style="font-style: italic;">
      Camping</button>
</form>
</div>

<form action="/mpbnb" method="POST">
  <div class="bnb">

    <button type="submit" name="acc" type="button" value="bnb" class="btn btn-primary btn-lg btn-block" style="font-style: italic;">
    
      B&B</button>
</form>
</div>

<form action="/mpselfc" method="POST">
  <div class="sc">

    <button type="submit" name="acc" value="self_catering" class="btn btn-primary btn-lg btn-block" style="font-style: italic;">
      Self catering</button>
</form>
</div>