<form action="/Mbnb" method="POST">

    <div class="navbar-header">
        <nav class="navbar navbar-inverse">
            <div class="home" id="myNavbar">
                <img src="../images\adventure.jpg" onerror="this.onerror=null">
                <h1 class="pro"> Nook</h1>
            </div>
            <div class="test" style="font-style: italic">
                <h2>Mpumalanga</h2>
                <h2>B&B</h2>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/li"><span class="glyphicon glyphicon-user" style="font-style: italic"></span>Limpopo</a>
                </li>
                <li><a href="/wc"><span class="glyphicon glyphicon-log-in"
                            style="font-style: italic"></span>Western Cape</a></li>
                <li><a href="/"><span class="glyphicon glyphicon-log-in" style="font-style: italic">Home</a></span></li>
            </ul>
    </div>
    </nav>
</form>

<form action="/page" method="POST">
    <div class="row ">
        <div class="card col-4">
            <div class="card">
                <h4 class="card-title" style="font-style: italic">Feathers</h4>
                <img src="/images/mp/feathers bnb.jpg" class="card-img-top" alt="...">
                <div class="card-body" >
                    <span class="input-group-text" style="font-style: italic;"><b>Check in date:</b></span>
                    <input type="date" class="form-control" id="start" name="start" value="" min="" >

                    <span class="input-group-text" style="font-style: italic;"><b>Check out date:</b></span>
                    <input type="date" class="form-control" id="start" name="end" value="" min="">
                    <button class="ag btn btn-primary"name="Bnb" value="feathers" style="font-style: italic">Book now</button>
                </div>
            </div>
        </div>
        
      
        <div class="card col-4">
            <div class="card">
                <h4 class="card-title" style="font-style: italic">Lyenburg</h4>
                <img src="/images/mp/lyenburg bnb.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <span class="input-group-text" style="font-style: italic;"><b>Check in date:</b></span>
                    <input type="date" class="form-control" id="start" name="start" value="" 
                        max="2020-12-31">

                    <span class="input-group-text" style="font-style: italic;"><b>Check out date:</b></span>
                    <input type="date" class="form-control" id="start" name="end" value="" min="2020-01-01"
                        max="2020-12-31">
                    <button class="ag btn btn-primary" name="Bnb" value="lyenbury" style="font-style: italic">Book now</button>
                </div>
            </div>
        </div>
  

        <div class="card col-4">
            <div class="card">
                <h4 class="card-title" style="font-style: italic">Magriets</h4>
                <img src="/images/mp/magriets bnb.jpg" class="card-img-top" alt="...">
                <div class="card-body">

                    <span class="input-group-text" style="font-style: italic;"><b>Check in date:</b></span>
                    <input type="date" class="form-control" id="" name="start" value="">

                    <span class="input-group-text" style="font-style: italic;"><b>Check out date:</b></span>
                    <input type="date" class="form-control" id="" name="end" value="">
                    <button class="ag btn btn-primary" name="magBnb" value="magriets" style="font-style: italic">Book now</button>
                </div>
            </div>
        </div>
        
    </div>
    </form>

