<form action="/Mselfc" method="POST">

    <div class="navbar-header">
        <nav class="navbar navbar-inverse">
            <div class="home" id="myNavbar">
                <img src="../images\adventure.jpg" onerror="this.onerror=null">
                <h1 class="pro"> Nook</h1>
            </div>
            <div class="test" style="font-style: italic">
                <h2>Mpumalanga</h2>
                <h2>Self catering</h2>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/li"><span class="glyphicon glyphicon-user" style="font-style: italic"></span>Limpopo </a>
                </li>
                <li><a href="/wc"><span class="glyphicon glyphicon-log-in"
                            style="font-style: italic"></span>Western Cape</a></li>
                <li><a href="/"><span class="glyphicon glyphicon-log-in" style="font-style: italic">Home</a></span></li>
            </ul>
    </div>
    </nav>


    <div class="row ">
        <div class="card col-4">
            <div class="card">
                <h4 class="card-title" style="font-style: italic">Kiepersol</h4>
                <img src="/images/mp/kiepersol self.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <span class="input-group-text" style="font-style: italic;"><b>Check in date:</b></span>
                    <input type="date" class="form-control" id="start" name="trip-start" value="2020-01-01" min="2020-01-01"
                        max="2020-12-31">

                    <span class="input-group-text" style="font-style: italic;"><b>Check out date:</b></span>
                    <input type="date" class="form-control" id="start" name="trip-start" value="2020-01-01" min="2020-01-01"
                        max="2020-12-31">
                    <a href="/page" class="ag btn btn-primary" value="kiepersol" style="font-style: italic">Book now</a>
                </div>
            </div>
        </div>
        <div class="card col-4">
            <div class="card">
                <h4 class="card-title" style="font-style: italic">Kruger Park</h4>
                <img src="/images/mp/kruger selfc.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <span class="input-group-text" style="font-style: italic;"><b>Check in date:</b></span>
                    <input type="date" class="form-control" id="start" name="trip-start" value="2020-01-01" min="2020-01-01"
                        max="2020-12-31">

                    <span class="input-group-text" style="font-style: italic;"><b>Check out date:</b></span>
                    <input type="date" class="form-control" id="start" name="trip-start" value="2020-01-01" min="2020-01-01"
                        max="2020-12-31">
                    <a href="/page" class="ag btn btn-primary" value="kruger_park" style="font-style: italic">Book now</a>
                </div>
            </div>
        </div>
        <div class="card col-4">
            <div class="card">
                <h4 class="card-title" style="font-style: italic">Sabie</h4>
                <img src="/images/mp/sabie selfc.jpg" class="card-img-top" alt="...">
                <div class="card-body">

                    <span class="input-group-text" style="font-style: italic;"><b>Check in date:</b></span>
                    <input type="date" class="form-control" id="start" name="trip-start" value="2020-01-01" min="2020-01-01"
                        max="2020-12-31">

                    <span class="input-group-text" style="font-style: italic;"><b>Check out date:</b></span>
                    <input type="date" class="form-control" id="start" name="trip-start" value="2020-01-01" min="2020-01-01"
                        max="2020-12-31">
                    <a href="/page" class="ag btn btn-primary" value="sabie" style="font-style: italic">Book now</a>
                </div>
            </div>
        </div>
    </div>

</form>