<form action="/done" method="POST">

<div class="navbar-header">
    <nav class="navbar navbar-inverse">
      <div class="home" id="myNavbar">
        <img src="/images/adventure.jpg" alt="Italian Trulli">
        <h1> Nook</h1>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/mp"><span class="glyphicon glyphicon-user">Mpumalanga</a></span></li>
        <li><a href="/wc"><span class="glyphicon glyphicon-log-in">Western Cape</a></span></li>
        <li><a href="/li"><span class="glyphicon glyphicon-user">Limpopo </a></span></li>
        <li><a href="/"><span class="glyphicon glyphicon-log-in">Home</a></span></li>
      </ul>
  </div>
  </nav>

<div class="success-page">
  <div class="col-12">
   <h2>Thank You</h2>
  </div>
  <div class="col-12">
  <h2>Form successfully sent !</h2>
  </div>
  <div class="text col-12">
  <p>The travel agent will contact you shortly</p>
  </div>
</div>


</form>