<form action="/done" method="POST">

<div class="navbar-header">
    <nav class="navbar navbar-inverse">
      <div class="home" id="myNavbar">
        <img src="../images/Adventure.jpg" alt="Italian Trulli">
        <h1 class="pro"> Nook</h1>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/mp"><span class="glyphicon glyphicon-user" style="font-style: italic">Mpumalanga</a></span></li>
        <li><a href="/wc"><span class="glyphicon glyphicon-log-in"style="font-style: italic">Western Cape</a></span></li>
        <li><a href="/li"><span class="glyphicon glyphicon-user"style="font-style: italic">Limpopo </a></span></li>
        <li><a href="/"><span class="glyphicon glyphicon-log-in"style="font-style: italic">Home</a></span></li>
      </ul>
  </div>
  </nav>

<div class="success-page">
  <div class="thank col-12">
   <h2 style="font-style: italic">Thank You</h2>
  </div>
  <div class="sent col-12">
  <h2 style="font-style: italic">Form successfully sent !</h2>
  </div>
  <div class="text col-12">
  <p style="font-style: italic">The travel agent will contact you shortly</p>
  </div>
</div>


</form>