<form action="/Wselfc" method="POST">

    <div class="navbar-header">
        <nav class="navbar navbar-inverse">
            <div class="home" id="myNavbar">
                <img src="../images\adventure.jpg" onerror="this.onerror=null">
                <h1 class="pro"> Nook</h1>
            </div>
            <div class="test" style="font-style: italic">
                <h2>Western Cape</h2>
                <h2>Self catering</h2>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/li"><span class="glyphicon glyphicon-user" style="font-style: italic"></span>Limpopo </a>
                </li>
                <li><a href="/mp"><span class="glyphicon glyphicon-log-in"
                            style="font-style: italic"></span>Mpumalanga</a></li>
                <li><a href="/"><span class="glyphicon glyphicon-log-in" style="font-style: italic">Home</a></span></li>
            </ul>
    </div>
    </nav>


    <div class="row ">
        <div class="card col-4">
            <div class="card">
                <h4 class="card-title" style="font-style: italic">Darling</h4>
                <img src="/images/wc/darling selfc.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <span class="input-group-text" style="font-style: italic;"><b>Check in date:</b></span>
                    <input type="date" class="form-control" id="start" name="trip-start" value="2020-01-01" min="2020-01-01"
                        max="2020-12-31">

                    <span class="input-group-text" style="font-style: italic;"><b>Check out date:</b></span>
                    <input type="date" class="form-control" id="start" name="trip-start" value="2020-01-01" min="2020-01-01"
                        max="2020-12-31">
                    <a href="/page" class="ag btn btn-primary" value="darling" style="font-style: italic">Book now</a>
                </div>
            </div>
        </div>
        <div class="card col-4">
            <div class="card">
                <h4 class="card-title" style="font-style: italic">Felsensicht</h4>
                <img src="/images/wc/felsensicht selfc.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <span class="input-group-text" style="font-style: italic;"><b>Check in date:</b></span>
                    <input type="date" class="form-control" id="start" name="trip-start" value="2020-01-01" min="2020-01-01"
                        max="2020-12-31">

                    <span class="input-group-text" style="font-style: italic;"><b>Check out date:</b></span>
                    <input type="date" class="form-control" id="start" name="trip-start" value="2020-01-01" min="2020-01-01"
                        max="2020-12-31">
                    <a href="/page" class="ag btn btn-primary" value="falsensichit" style="font-style: italic">Book now</a>
                </div>
            </div>
        </div>
        <div class="card col-4">
            <div class="card">
                <h4 class="card-title" style="font-style: italic">Paternoster</h4>
                <img src="/images/wc/paternoster selfc.jpg" class="card-img-top" alt="...">
                <div class="card-body">

                    <span class="input-group-text" style="font-style: italic;"><b>Check in date:</b></span>
                    <input type="date" class="form-control" id="start" name="trip-start" value="2020-01-01" min="2020-01-01"
                        max="2020-12-31">

                    <span class="input-group-text" style="font-style: italic;"><b>Check out date:</b></span>
                    <input type="date" class="form-control" id="start" name="trip-start" value="2020-01-01" min="2020-01-01"
                        max="2020-12-31">
                    <a href="/page" class="ag btn btn-primary" value="paternoster" style="font-style: italic">Book now</a>
                </div>
            </div>
        </div>
    </div>

</form>