body{
    background: url('/images/green.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-inverse {
    
    list-style: none;
    font-weight: bold;
    width: 100%;
    text-align: center;
    background-color:lightgray;
    margin-top: 0.5em;
  
  }
  .navbar-header{
    width: 100%; 
  }

h1{
    color: black;
    text-align: center;
}
.userrow{
  margin-top: 2em;
  margin-bottom: 2em;
    /* text-align: center; */
    font-size: large;
}
.prov{
    margin-top: 5em;
    text-align: center;
    font-size: large;
}
.submit{
    margin-top: 2em;
    margin-left: 48em;  
    border-radius: 0.5em;
    width: 5em;
    background-color: cyan;
}
.guestsub{
    margin-top: 2em;
    margin-left: 35em;  
    border-radius: 0.5em;
    width: 5em;
    background-color: cyan;   
}
input{
    border-radius: 0.5em;
    border-color:lightseagreen; 
}

.dropbtn {
    background-color:turquoise;
    color: white;
    font-size: 16px;
    border-radius: 1;
  }
  
  .dropdown {
   margin-top: 5em;
   margin-left: 30em;
   
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: blue;
    font-size: x-large;
  }
  
  .dropdown-content a {
    color: black;
    display: block;
  }

  .guesnum{
      text-align: center;
      margin-top: 5em;
  }
  
  .dropdown-content a:hover {background-color: rgb(11, 165, 101);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color:turquoise;}

  .ag{
    margin-top: 0.5em;
  }
  .card{
    margin-top: 0.5em;
  }
  .wc{
    margin-bottom: 2em;
    margin-left: 30em;
    margin-top: 2em;
  }
  .lim{
    margin-bottom: 2em;
    margin-left: 30em;
    margin-top: 2em;
  }
  .mpu{
    margin-bottom: 2em;
    margin-left: 30em;
    margin-top: 2em;
  }
  h4{
    text-align:center ;
  }
/*  */

  
  .row {
    /* display: -ms-flexbox; */
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
   .col-25 {
    -ms-flex: 25%;
    flex: 25%;
  }
   
   .col-50 {
    -ms-flex: 50%; 
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%;
    flex: 75%;
  } 
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    /* background-color: #f2f2f2; */
    padding: 5px 20px 15px 20px;
    /* border: 1px solid lightgrey; */
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  /* .btn:hover {
    background-color: #45a049;
  } */
  
  a {
    color: #2196F3;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }

  .col-12{
    text-align: center;
    margin-top: 3em;
    color:blue;
    font-size: 2em;
  }
  .text{
    color: black;
  }